/*------------------------------
    PRELOADER
-------------------------------*/

.preeloader {
    background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 999999;
}

.preloader-spinner {
    width: 60px;
    height: 60px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
}

.preloader-spinner img {
    width: 100%;
}

/*----------------------------------
    MEDIUM LAYOUT: 1600px
-----------------------------------*/

@media(max-height: 360px){
    .text-center img{
        display:none;
    }
    .home-button {
    margin-top: 20px !important;
}
}

@media (max-width: 1600px) {
  #home > div.welcome-text-area > div > div:nth-child(1) > div > img{
    width: 15%;
  }
}
@media (max-width: 600px) {
  #home > div.welcome-text-area > div > div:nth-child(1) > div > img{
    width: 65%;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  #home > div.welcome-text-area > div > div:nth-child(1) > div > img{
    width: 50%;
  }
}
/*----------------------------------
    MEDIUM LAYOUT: 1280px
-----------------------------------*/

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .welcome-text h3 {
        font-size: 32px;
    }
}


/*----------------------------------
    TABLET LAYOUT: 768px
------------------------------------*/

@media (min-width: 768px) and (max-width: 991px) {
    .section-padding {
        padding: 80px 0;
    }
    .padding-top {
        padding-top: 80px;
    }
    .area-title h2 {
        font-size: 40px;
    }
    .welcome-text h3 {
        font-size: 30px;
    }
    .subscriber-form form {
        width: 60%;
    }
}


/*----------------------------------
    MOBILE LAYOUT: 320px
-----------------------------------*/

@media only screen and (max-width: 767px) {
    .section-padding {
        padding: 80px 0;
    }
    .area-title {
        margin-bottom: 25px;
    }
    .area-title h2 {
        font-size: 28px;
    }
    .padding-top {
        padding-top: 50px;
    }
    .service-area.padding-bottom,
    .gallery-area.padding-bottom {
        padding-bottom: 20px;
    }
    /*-----------------*/
    .welcome-text h1 {
        display:none !important;
    }
    .welcome-text h3 {
        font-size: 20px;
    }
  
    .wallet_text{
        font-size: 21px;
    }

    .wallet-icon{
        width: 56%
    }

    .coundown-timer {
        font-size: 30px;
    }
    .single-counter {
        padding: 10px 3px 0;
        width: auto;
    }
    .single-counter .normal {
        margin-bottom: 3px;
        margin-top: 15px;
        padding: 0;
    }
    .single-counter::before {
        bottom: 30px;
        top: auto;
    }
    .subscriber-form form {
        width: 100%;
    }
    .subscriber-form form button {
        width: auto;
    }
    .social-book-mark {
        display: none;
    }
    .information-contact {
        display: none;
    }
    .home-button {
        margin-top: inherit;
    }
    .home-button a {
        margin: 0 8px;
        min-width: 120px;
    }
    .left-contact-content,
    .right-details-content {
        left: -100%;
        width: 100%;
    }
    .right-details-content {
        left: auto;
        right: -100%;
    }
}


/*----------------------------------
    WIDE MOBILE LAYOUT: 480px
-----------------------------------*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .section-padding {
        padding: 50px 0;
    }
    .area-title h2 {
        font-size: 40px;
    }
    .welcome-text h3 {
        font-size: 26px;
    }
    .welcome-text h1 {
        font-size: 60px;
    }
    .clock-countdown {
        margin-bottom: 40px;
        width: auto;
        max-width: 460px;
    }
    .home-button {
        margin-top: 60px;
    }
    .home-button a {
        font-size: 15px;
        letter-spacing: 2px;
        margin-left: 20px;
        padding: 15px 30px;
        display: inline-block !important;
    }
    .coundown-timer {
        font-size: 40px;
    }
    .single-counter {
        padding: 18px 10px 10px;
        width: auto;
    }
    .coundown-timer .normal {
        margin-bottom: -6px;
        margin-top: 15px;
        padding-top: 10px;
    }
    .single-counter::before {
        bottom: 30px;
        top: auto;
    }
}
