.page-header-title h4{
    font-size: 1.5rem;
}
.Treant > .node {
  border:none !important;
}
.Treant > .node img {
  border: 2px solid black !important;
  width: 66px !important;
  height: 66px !important;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.node-name {
  font-weight: bold;
  background: #0d627c;
  color: white;
  padding: 3px 10px;
  border-radius: 5px;
}
.Treant .node.collapsed {
  background-color: transparent !important;
}
.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification#session-language-dropdown{
  width: 15rem;
  padding: 0;
}
.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification#session-language-dropdown li{
  padding: 0;
}
.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification#session-language-dropdown li.lang-title,
.header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification#session-language-dropdown li a{
  padding: 1em 20px;
}
.pagination li {
  padding: 0 10px;
  font-size: 18px;
}
.pagination li.active{
  color: #004daa;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  background-color: transparent;
  padding: 0;
  color: #000000;
}
.header-navbar .navbar-wrapper .navbar-container .nav-right li.header-notification.header-lang{
  padding: 0;
}
.header-notification.header-lang .drop-lang div{
  padding: 0 20px;
}
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  top: 120px;
  right: 30px;
  background-color: #9ccc65;
  color: #FFF;
  border-radius: 50px;
  display: flex;
  box-shadow: 2px 2px 3px #999;
}
.my-float {
  margin: auto;
}
.pcoded .pcoded-header[header-theme="theme1"]{
  min-height: 80px;
  padding-top: 15px;
  background: #004daa;
}
.pcoded[fream-type="theme1"][theme-layout="vertical"] .page-header {
  background: #004daa;
}
/** views/user/upgrade */    
.element-pricing:hover{
  cursor: pointer;
}    
.pricing_footer {    
  background-color: #5d5d5d;
  border-top: 1px solid #ddd;
  text-align: center;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  color: white;
  font-size: 18px;
}
.element-pricing.active .pricing_footer {
  background-color: #0e7f14;;
} 
/** views/user/upgrade */

@media only screen and (max-width: 576px){
  .pcoded .header-navbar .navbar-wrapper .navbar-container .header-notification .show-notification#session-language-dropdown{
    min-width: 200px;
  }
}

/* admin/plans/edit => editor text */
.note-popover.popover { 
  display: none;
}
/* end of admin/plans/edit => editor text */

/* orders/purchases */
.md-modal {
  max-width: 670px !important;
}

/* views/admin/privilegies/form */
.backspace { 
  margin-right: 100px; 
}
/* end of views/admin/privilegies/form */

/*  */
@media (min-width: 576px) {
  .col-sm-8 {      
    max-width: 100% !important;
  }
}
/* ESTILOS PARA 5 COLUMNAS */
.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
@media (min-width: 540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 1000px) {
  .page-header {
    background-image: linear-gradient(#004DAA,#a7ec51, #a7ec51) !important;
  }
}

.error-input{
  border:1px solid red;
}

/** LABEL DE PRODUCTO  **/
.prod-item .prod-info {
  background: #fff;
  padding: 0px 0 0px;
}

.nombre_producto{
  margin-left: 20px;
  margin-right: 20px;
  min-height: 2.5em;
}

.add_cart{
  margin-bottom: 1.5em;
}

